@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0F0F0F;
    --background-secondary: #191919;
    --background-tertiary: #222222;
    --border: #202020;
    --border-secondary: #282828;
    --text-primary: #C3C3C3;
    --text-secondary: #5E5E5E;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}

.font-mono {
  font-family: "Geist Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
}

/* Custom Scrollbar Styling */
/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--border-secondary);
  border-radius: 0px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-secondary);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--border-secondary) transparent;
}

/* For edge cases where scroll gutter needs to be stable */
.scrollbar-gutter-stable {
  scrollbar-gutter: stable;
}